<footer class="footer">
  <div class="footer-left col-md-4 col-sm-6">
    <p class="about">
      <span>Şirket Hakkında</span> OtoGez, Türkiye genelinde geniş araç yelpazesi ve uygun fiyat seçenekleri sunan lider araç kiralama şirketidir. Müşterilerimize güvenli, hızlı ve konforlu araç kiralama hizmeti sağlıyoruz. 7/24 destek ekibimizle, kiralama deneyiminizi en iyi hale getirmek için çalışıyoruz.
    </p>
  </div>
  <div class="footer-center col-md-4 col-sm-6">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>İstanbul Ofisi</span> Büyükdere Caddesi No: 40, Şişli, İstanbul, Türkiye</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>(+90) 212 123 45 67</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:info@otogez.com">otogez.com</a></p>
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <h2>OtoGez  <a class="navbar-brand logo-container" href="/">
      <img src="assets/images/logocar.png" alt="Logo" class="logo-img">
    </a>
  </h2>
    <p class="menu">
      <a href="#">Ana Sayfa</a> |
      <a href="#">Hakkımızda</a> |
      <a href="#">Servisler</a> |
      <a href="#">Blog</a> |
      <a href="#">İletişim</a>
    </p>
    <p class="name">Rent A Car &copy; 2024</p>
  </div>
</footer>
