html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-custom {
  background-color: #366b95; /* Daha koyu çelik mavi */
  color: white; /* Metin rengi beyaz */
  border: none; /* Kenarlık yok */
  padding: 10px 20px; /* İç boşluk */
  text-decoration: none; /* Altı çizgi yok */
  border-radius: 5px; /* Köşe yuvarlama */
  font-size: 16px; /* Font büyüklüğü */
  display: inline-block; /* Satır içi blok */
  margin-right: 5px; /* Butonlar arasında küçük mesafe */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Geçiş efekti */
}

/* Aktif buton stilini vurgulamak için */
.btn-custom.active {
  background-color: #1f3b4d; /* Aktif durumda daha koyu çelik mavi */
}

/* İnaktif buton stili için */
.btn-custom.inactive {
  background-color: #6c757d; /* Gri renk */
  color: white; /* Metin rengi beyaz */
}

/* Hover durumu */
.btn-custom:hover {
  background-color: #3b70a1; /* Hover için daha açık çelik mavi */
  transform: scale(1.05); /* Hover sırasında butonu büyüt */
}

/* Container stil ayarları */
.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-primary {
  background-color: #366b95; /* Çelik Mavi */
  color: white; /* Metin rengi beyaz */
  border: none; /* Kenarlık yok */
  padding: 10px 20px; /* İç boşluk */
  border-radius: 8px; /* Köşe yuvarlama */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Geçiş efekti */
  width: 100%; /* Butonun genişliği */
  font-size: 18px; /* Font büyüklüğü */
}

.btn-primary:hover {
  background-color: #3b70a1; /* Hover için daha koyu çelik mavi */
  transform: scale(1.05); /* Hover sırasında butonu büyüt */
}

  