<!-- Araç Bulma Alanı -->
<app-car-search-form
  [alisOfisiOptions]="alisOfisiOptions"
  [iadeOfisiOptions]="iadeOfisiOptions"
  [customerType]="customerType"
  (search)="navigateToCarList($event)">
</app-car-search-form>

<!-- Sık Tercih Edilen Şehirler -->
<div class="popular-cities-section">
  <h2 class="section-title">Sık Tercih Edilen Şehirler</h2>
  <div class="city-card-container">
    <div class="city-card" (click)="openCityPopup('Istanbul')">
      <img [src]="'assets/images/istanbul.jpg'" alt="İstanbul">
      <p>İstanbul</p>
    </div>
    <div class="city-card" (click)="openCityPopup('Ankara')">
      <img [src]="'assets/images/ankara.jpg'" alt="Ankara">
      <p>Ankara</p>
    </div>
    <div class="city-card" (click)="openCityPopup('İzmir')">
      <img [src]="'assets/images/izmir.jpg'"  alt="İzmir">
      <p>İzmir</p>
    </div>
  </div>
</div>

<!-- Popup -->
<div class="popup-overlay" *ngIf="showPopup"> 
  <app-car-search-form
    [alisOfisiOptions]="cityLocations"
    [iadeOfisiOptions]="cityLocations"
    [customerType]="customerType"
    [showCloseButton]="true"
    (search)="navigateToCarList($event)"
    (close)="closePopup()">
  </app-car-search-form>
</div>