<form [formGroup]="carImageAddForm" (ngSubmit)="addCarImage()">
  <div class="form-group mb-3">
    <label for="image">Car Image</label>
    <input type="file" id="image" (change)="onChange($event)" class="form-control" accept="image/*">
  </div>
  
  <div class="mb-3">
    <label for="carId">Araba Seçiniz</label>
    <div class="form-group">
      <select id="carId" formControlName="carId" class="form-control">
        <option value="">Araba Seçiniz</option>
        <option *ngFor="let car of cars" [value]="car.id">
          [Id: {{ car.id }}] {{ car.brandName }} {{ car.colorName }} - {{ car.plateNumber }}
        </option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!carImageAddForm.valid">Add Car Image</button>
</form>
