
<form  class="form-group" [formGroup]="car" (ngSubmit)="UpdateData()">
    <label>Car Name</label>
    <input type="text" id="description" name="description"   class="form-control" formControlName="description">
    <label>Brand Id</label>
    <input type="number" id="brandId" name="brandId"  class="form-control" formControlName="brandId">
    <label>Color Id</label>
    <input type="number" id="colorId" name="colorId"  class="form-control" formControlName="colorId">
    <label>Model Year</label>
    <input type="number" id="modelYear" name="modelYear"  class="form-control" formControlName="modelYear">
    <label>Daily Price</label>
    <input type="number" id="dailyPrice" name="dailyPrice"  class="form-control" formControlName="dailyPrice">
    <br>
    <div class="btn-group">
        <button class="btn btn-primary" type="submit">Güncelle</button>
    </div>
</form>
